 h1 {
     font-family:Tahoma;
     font-size:50px;
     color: #FFF;
     text-align:center;
  
	    
}



body {
    font: 100% sans-serif;
    background-size: 100%;
    background-image:url("https://i.blogs.es/9cfaf6/encriptacion/450_1000.jpg");
    
}




button{
    padding-right: 20em;
    padding-bottom: 3em;
    margin:7em;

}






