body {
    font: 100% sans-serif;
    background-size: 100%;
    background-color: #560027;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}


h1 {
    
    font-size:30px;
    color: #FFF;
    text-align:center;
    background-color:#811244b6;

}





textarea {
    width: 400px;
    height: 100px;
    margin: 10px 0 10px 0;

}

#indicaciones {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}








